// Main colors
$primary: #A95050;;
$secondary: #868e96;

// Accent colors
$light: #f8f9fa;
$dark: #343a40;

// Grey 
$white: #fff;
$gray-light: #ececec;
$gray: #868e96;
$gray-dark: #343a40;
$black: #000;

// Function colors
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$error:#dc3545;






