@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=roboto:300,700');

$ff-title: 'Montserrat', serif;
$ff-subtitle: 'Montserrat', sans-serif; 
$ff-body: 'roboto', serif;

$fw-n: 300; 
$fw-m: 400;
$fw-b: 700;

$fs-italic: italic;

